@page "/MealPrice"

<h1>Meal Price </h1>

<p>Input prompt </p>

<input @bind="MealPriceInput " />

<button class="btn btn-primary" @onclick="DoProcessing">Calculate Total</button>

<p>Output: @OutputString </p>

@code

{

    private string InputString { get; set; }

    private string OutputString { get; set; }

    private void DoProcessing()

    {

        double meal_price = double.Parse("10");
        double tax = meal_price * .065;
        double tip = meal_price * .20;
        double total_price = meal_price + tax + tip;
        Console.WriteLine(total_price.ToString());

    }

}




